header{
  display: none;
}
#question-text {
font-size: 50px;
height: 120%;
}
#question-description{
  font-size: 24px;
}
#accepted-answer {

}

#question-redirect {

}
:root {
  --header_color: #19164F;
  --navigation: #ac1bdb;
  --background: #FADBC4;
}
.container {
  display: flex;
}

#searchbutton {
  height: 40px;
  width: 60px;
}

#questionlist {
  display: none;
}
