* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --logo_color: #252177;
    --submit: #ac1bdb;
    --page_back: #F7E9E1;
    --nav_link: #C0DB12;
    --nav_back: #56038F;
    --submit: #12DB00;
}

body {
    background-color: var(--page_back);
}

header {
    padding: 15px;
    background-color: var(--nav_back);
    height: 60px;
    align-items: center;
}

nav {

    float: right;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    padding-right: 20px;
}

nav a {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-right: 20px;
    color: var(--nav_link);
    background-image: linear-gradient(270deg, var(--nav_link) 0%, var(--nav_link) 100%);
    background-repeat: no-repeat;
    background-size: 100% .2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--nav_back);
}

.title{
    font-size: 50px;
}

.titleCont {
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Bitter', sans-serif;
    color: var(--header_color);
}


/* body of document */
section .main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
}

section .about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
}

#main {
    height: 75%;
}

#aboutMe {
    margin: 20px;
    justify-content: center;
}

#contact{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.box{
    width: 600px;
}

section .heading {
    font-size: 75px;
    font-weight: bolder;
    font-family: 'Bitter', sans-serif;
    color: var(--header_color);
}

/* search box that you submit the question to */
.control {
    width: 600px;
}

section .searchBox {
    position: relative;
    align-items: center;
    height: 600px;
}


/* submit button styling */
.button_slide {
    margin-top: 20px;
    color: var(--submit);
    border: 2px solid var(--nav_back);
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 var(--nav_back);
    transition: ease-out 0.4s;
    border-radius: 5px;
}

.slide_left:hover {
    box-shadow: inset 0 0 0 50px var(--nav_back);
}


#button {
    width: 200px;
    margin: 50px auto 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
}


/* footer styling */
footer {
    background-color: var(--nav_back);
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;

}



    /* media query for large screen */
    @media (min-width: 1281px) {

        selection,
        nav {
            flex-direction: column;
        }
    }

    /* media query desktop */
    @media (min-width: 1025px) and (max-width: 1280px) {

        selection,
        nav {
            flex-direction: column;
        }
    }


    /* media query tablet */
    @media (min-width: 768px) and (max-width: 1024px) {

        selection,
        nav {
            flex-direction: column;
        }
    }

    /* media query smart phone */
    @media (max-width: 480px) {

        selection,
        nav {
            flex-direction: column;
        }
    }