* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "";
}

:root {
    --logo_color: #19164F;
    --submit: #ac1bdb;
    --page_back: #F7E9E1;
    --nav_link: #C0DB12;
    --nav_back: #56038F;
}

body {
    background-color: var(--page_back);
}

section {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    padding: 15px;
    background-color: var(--nav_back);
    height: 60px;
    align-items: center;
}

nav {

    float: right;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    padding-right: 20px;
}

nav a {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-right: 20px;
    color: var(--nav_link);
    background-image: linear-gradient(270deg, var(--nav_link) 0%, var(--nav_link) 100%);
    background-repeat: no-repeat;
    background-size: 100% .2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--nav_back);
}

section .main {
    width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .heading {
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Bitter', sans-serif;
    color: var(--header_color);
}

section .searchBox {
    position: relative;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

section .main .searchBox .input {
    padding: 13px;
    padding-left: 45px;
    padding-right: 60px;
    width: 400px;

}