html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

:root {
    --logo_color: #252177;
    --answer: #ac1bdb;
    --page_back: #F7E9E1;
    --nav_link: #C0DB12;
    --nav_back: #56038F;
    --submit: #12DB00;
}

body {
    background-color: var(--page_back);

}

header {
    padding: 15px;
    background-color: var(--nav_back);
    height: 60px;
    align-items: center;
}

/* navigation bar */
nav {

    float: right;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    padding-right: 20px;
}

nav a {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-right: 20px;
    color: var(--nav_link);
    background-image: linear-gradient(270deg, var(--nav_link) 0%, var(--nav_link) 100%);
    background-repeat: no-repeat;
    background-size: 100% .2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--nav_back);
}

/* search section of document */
section .main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    height: 900px;
}

section .heading {
    font-size: 75px;
    font-weight: bolder;
    font-family: 'Bitter', sans-serif;
    color: var(--header_color);
}

/* search box that you submit the question to */
.control {
    width: 600px;
}

section .searchBox {
    position: relative;
    align-items: center;
    height: 600px;
}


/* submit button styling */
.button_slide {
    margin-top: 20px;
    color: var(--submit);
    border: 2px solid var(--nav_back);
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 var(--nav_back);
    transition: ease-out 0.4s;
    border-radius: 5px;
}

.slide_left:hover {
    box-shadow: inset 0 0 0 50px var(--nav_back);
}


#button {
    width: 200px;
    margin: 50px auto 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
}



/* about section */
section .about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
}

.title {
    font-size: 50px;
}

.titleCont {
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Bitter', sans-serif;
    color: var(--header_color);
}

#aboutMe {
    margin: 20px;
    justify-content: center;
}

.aboutTitle {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    margin-bottom: 300px;
}

.aboutDescrip {
    width: 600px;
    background-color: var(--page_back);
    font-style: bold;
    border: 5px solid var(--nav_link);
    border-radius: 5px;
    padding: 10px;
}

/* contact section */
#contact {
    position: relative;
    align-items: center;
    background-color: var(--page_back);
    border: 5px solid var(--nav_link);
    border-radius: 5px;
    margin-bottom: 20px;

}

.field {
    width: 100%;
}

.contactBtn {
    display: flex;
    align-items: center;
}

.submit {
    margin-right: 5px;
}



/* footer styling */
footer {
    background-color: var(--nav_back);
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;

}





/* search answers buttons */
#question-list{
    position: relative;
    border: 5px solid var(--submit);
    border-radius: 5px;
    margin-bottom: 30px;
    
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    font-size: 25px;
    width: 800px;
    height: 4em;
    color: var(--nav_back);
    border-left: 0.08em solid;
    position: relative;
    margin: 10px;
    cursor: pointer;
}

li::before,
li::after {
    content: '';
    position: absolute;
    width: inherit;
    border-left: inherit;
    z-index: -1;
}

li::before {
    height: 80%;
    top: 10%;
    left: calc(-0.15em - 0.08em * 2);
    filter: brightness(0.8);
}

li::after {
    height: 60%;
    top: 20%;
    left: calc(-0.15em * 2 - 0.08em * 3);
    filter: brightness(0.6);
}

li span {
    position: relative;
    height: 120%;
    top: -10%;
    box-sizing: border-box;
    border: 0.08em solid;
    background-color: var (--answer);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transform: translateX(calc(-0.em * 3 - 0.08em * 2));
    transition: .5s;
}

li:hover span {
    transform: translateX(0.5em);
}


#question-text {
    font-size: 50px;
}

#question-description {
    font-size: 24px;
}

#question-redirect{
    margin-bottom: 20px;
}

#question-details{
    display:none;
}

.container {
    display: flex;
}

/* joke */
.joke{
height: 300px;
text-align: center;
}